[submodule "plugins/vim-pathogen"]
	path = plugins/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "plugins/ag.vim"]
	path = plugins/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "plugins/ctrlp.vim"]
	path = plugins/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "plugins/vim-commentary"]
	path = plugins/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "plugins/vim-colors-solarized"]
	path = plugins/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "plugins/vim-multiple-cursors"]
	path = plugins/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "plugins/goyo.vim"]
	path = plugins/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "plugins/lightline.vim"]
	path = plugins/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "plugins/emmet-vim"]
	path = plugins/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "plugins/vim-javascript"]
	path = plugins/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "plugins/vim-jsx"]
	path = plugins/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "plugins/delimitMate"]
	path = plugins/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "plugins/vim-markdown"]
	path = plugins/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "plugins/vim-pug"]
	path = plugins/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
